.main{
    background-image: url("../../assets/bg/main.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    font-family: var(--ff-sans);
    text-transform: uppercase; 
}